.post-content{
    background-color: #EDF2F7;
}
.post-content > div{
    display: flex;
    width: auto;
    justify-content: space-evenly;
    text-align: left;
    align-items: flex-start;
}

.post-detail{
    padding-inline: 3%;
    padding-bottom: 3%;
    background-color: #FFFFFF;
    border-radius: 30px;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    width: 60vw;
}

.post-explain{
    padding: 1vh 3vw;
    background-color: #EDF2F7;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}

.code-container {
    position: relative;
    background-color: #1e1e1e; /* VSCodeのダークテーマ背景色 */
    color: #d4d4d4; 
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
}

.copy-btn {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    background-color: #45a049; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer; 
}

.copy-btn:hover {
    background-color: #45a049;
}

.copy-message {
    display: none;
    position: absolute; /* ボタンの近くに表示 */
    right: 10px;
    top: 10px;
    background-color: #f8f9fa; 
    padding: 5px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: opacity 2s ease-out, display 0s 2s; 
    opacity: 0; 
}



.code-container pre {
    margin: 0;
}

.code-container code {
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
    font-size: 0.9em;
}

.post-nav{
    background-color: #FFFFFF;
    width: 10vw;
    border-radius: 30px;
    flex: 2 1 auto; 
    margin-left: 50px;
    padding-left: 20px;
    padding-bottom: 50px;
    min-width: 150px; 
    top: 0;
    position: sticky;
}
.post-explain{
    flex: 2 1 auto; /* flex-grow: 2, flex-shrink: 1, flex-basis: auto */
    margin-left: 30px;
    padding-left: 20px;
    min-width: 150px; /* 最小幅を設定 */
}

/* 目次のコンテナのスタイル調整 */
.post-nav-content{
    margin-left: 30px;
}


#toc {
    top: 20px;
    left: 20px;
    max-width: 75%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000; /* markerよりも前面に表示 */
}

#toc a {
    font-size: 16px; 
    line-height: 2; /* 行間を調整（1.5倍の行間に設定） */
}



/* 768px以下の画面幅の場合に目次を非表示にし，説明文を幅広く */
@media (max-width: 768px) {
    .post-nav {
        display: none; /* 目次を非表示 */
    }
    .post-explain {
        width: 90vw; 
        margin-inline: 5vw;
        padding-block: 5vh;
    }
    .post-detail {
        width: 90vw; 
    }
}


