@charset "utf-8";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #000000E6;
  width: auto;
  background-color: #FFFFFF;
}

.highlight {
  background-color: #4CAF50;
}


/* 
header
*/
.header {
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 15px;
  /* position: fixed; */
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #001F3F;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}



.header-title {
  font-family: 'Kalnia', serif;
  color: #FFFFFF;
  margin: 0 50px 0px 0px;
  white-space: nowrap;
}


/* .header-navitem {} */
.header-navitem > a {
  font-family: 'Kalnia', serif;
  display: flex;
  padding: 10px ;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color .25s;
  white-space: nowrap;
}


.header-navitem > a:hover {
  border-bottom: 2px solid #4CAF50;
}



.header-search input {
  /* スタイルの例 */
  padding: 5px 0px 5px 5px;
  margin: 10px 0px 10px 5px;
  width: 130px;
}



.highlight {
  background-color: #4CAF50;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-logo {
  width: 50px;
  height: 50px;
}

.header-title {
  margin: 0;
  color: #FFFFFF;
}

.header-navlist {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-navitem {
  margin: 0 10px;
}

.header-navitem a {
  color: #FFFFFF;
  text-decoration: none;
}

.header-search-container {
  display: flex;
  align-items: center;
}

.header-search {
  display: flex;
  margin-right: 10px;
}

.header-search input {
  padding: 5px;
  margin-right: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.header-search button {
  padding: 5px 10px;
  margin: 10px 0px;
  background-color: #191331; 
  color: white;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.header-search button:hover {
  background-color: white;
  color: #4CAF50;
}














/* .hero {} */
.hero {
  display: flex;
}

.hero img {
  width: 100%;
  height: auto;
  /* margin-top: 75px; */
  /* filter: blur(1px);  */
}

.post-list {
  display: flex;
  align-items: center;
  justify-content: center; /* 中央揃え */
  white-space: nowrap; /* テキストを折り返さないようにする */
  padding: 20px;
}

.post-list:before,
.post-list:after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #000000E6; /* 白色の線 */
  margin: 0 10px; /* テキストと線の間隔 */
}


.post {
  /* 各投稿のスタイル */
  border-bottom: 1px solid #ccc; 
  padding-bottom: 10px; /* 境界線の下に余白を追加 */
  margin-bottom: 20px; /* 投稿ごとの下マージンを追加 */
}


.post-image {
  max-width: 100%; 
  height: auto; 
  
}

.post-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

.post-block {/* 33.333%の幅に指定 */
  /* flex: 1 0 calc(33.333% - 20px);  */
  border-bottom: 1px solid #ccc;
  padding: 10px 30px;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 30%;
  background-color: #F2F2F2;
  border-radius: 65px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.post-block:hover{
  background-color: #9fcaf6;
  opacity: 0.6;
}






.section-headline {
  display: flex;
  align-items: center;
  justify-content: center; /* 中央揃え */
  white-space: nowrap; /* テキストを折り返さないようにする */
}

.section-headline:before,
.section-headline:after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #FFFFFF; /* 白色の線 */
  margin: 0 10px; /* テキストと線の間隔 */
}



.section-secounday {
  background-color: #001F3F;
  color: #FFFFFF;
  padding: 20px;
}



.contact-form-container {
  display: grid;
  gap: 20px; /* グリッド間のギャップ */
  max-width: 600px; /* フォームの最大幅 */
  margin: auto;
}

.form-row {
  display: flex;
  align-items: center;
}

.form-row label {
  text-align: left; 
  padding-right: 10px;
  margin-block: 20px;
  flex: 1; /* ラベルにフレックス項目の1の割合を与える */
}

.control{
  margin-bottom: -30px;
}

.form-row div {
  flex: 2; /* 入力フィールドにフレックス項目の2の割合を与える */
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%; 
  padding: 8px; 
  border: 1px solid #ddd; 
  border-radius: 4px; 
}

.contact-send {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px; 
}

.contact-send:hover {
  background-color: #45a049;
}

.control {
  text-align: center;
}




button.contact-send {
  display: inline-block;
  margin: 20px auto 40px ;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #191331; 
  color: white;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

button.contact-send:hover {
  background-color: white;
  color: #4CAF50;
}



.footer{
  background-color: #001F3F;
  color: #FFFFFF;
}

.footer-title {
  margin: 0 auto;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #001F3F;
  padding: 20px;
}


.footer-title:before,
.footer-title:after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #F2F2F2
}

.footer-title:before {
  margin-right: 1rem;
}

.footer-title:after {
  margin-left: 1rem;
}



.footer-container {
  display: flex;
  align-items: top;
  justify-content: center;
}



.footer-navlist {
  display: block;
  list-style: none;
  margin: 0 100px;
  padding: 0;
  color: #FFFFFF;
}

.footer-navlist-title {
  text-align: center;
} 

.footer-navitem {
  margin: 0px 50px; 
}

.footer-navitem a {
  color: #FFFFFF;
}



.footer-copy{
  display: block;
  text-align: center;
  color: #FFFFFF;
}


.pagetop {
  height: 40px;
  width: 40px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #fff;
  border: solid 2px #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.pagetop:hover {
  background-color: #9fcaf6; /* カーソルが乗っているときの背景色 */
}

.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: translateY(20%) rotate(-45deg);
}



@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    /* align-items: flex; */
    justify-content: center;
  }

  .header-navlist {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-search input {
    width: 100%;
    max-width: 200px; 
  }
}



@media screen and (max-width: 768px) {
  .post-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
  }

  .post-block {
    width: 80%; 
    margin: 1vh 10vw; 
  }
}




@media screen and (max-width: 768px) {
  .contact-form-container {
    grid-template-columns: 1fr; /* 1列のみに変更 */
    padding: 10px;
  }

  .form-row {
    display: grid;
    grid-template-columns: 1fr; /* ラベルと入力フィールドを縦に並べる */
    margin-bottom: 20px;
  }

  
  .form-row label,
  .form-row div {
    text-align: left;
    padding-right: 0;
  }

  .form-row label{
    margin: 5px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%; /* 入力フィールドの幅を最大に */
  }

  .contact-send {
    margin-top: 10px;
  }

  .control{
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 480px) {
  .contact-form-container {
    max-width: 100%; /* フォームの最大幅を画面幅に合わせる */
  }

  .form-row {
    grid-template-columns: 1fr; 
  }
}












@media screen and (max-width: 768px) {
  .footer-navlist {
    margin: 0;
    padding: 0;
  }

  .footer-navitem {
    margin: 0px 10px; /* 項目間のマージンを減らす */
  }
}


@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .post-grid {
    margin-bottom: 5vh;
  }

  .section-headline {
    font-size: 24px;
  }
}
