{% extends "blogapp/base.html" %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/post-detail.css' %}" type="text/css"> 
    </head>

    <section class="post-content">
        <div class="post-explain">
            <div class="post-detail">
                <h1 class="title">{{post.title}}</h2>
                <small>Posted at {{post.posted}}</small>
                <p>{{post.intro}}</p>
                <p>{{post.body}}</p>
                <hr />


                <h1>.gitignoreに追記したが反映されない</h1>
                <p>.gitignoreにファイルを追加しても、反映されない場合は、そのファイルが既にリポジトリに追跡されている可能性があります。この場合、キャッシュに残っているインデックスが.gitignoreの設定を上書きしてしまうことがあります。</p>
                <h2>解決策</h2>
                <p>解決策としては、.gitignoreを編集した後にキャッシュを削除して再度コミットすることが挙げられます。</p>
                <ol>
                <li>.gitignoreを編集します。</li>
                <li>キャッシュを削除します。</li>

                <div class="code-container">
                    <button class="copy-btn" onclick="copyCode(this)">Copy code</button>
                    <span class="copy-message" style="display: none;">Copied!</span>
                    <pre><code class="language-python">git rm -r --cached . </code></pre>
                </div>   

                <p>もしくは、特定のファイルを指定してキャッシュを削除します。</p>
                
                <div class="code-container">
                    <button class="copy-btn" onclick="copyCode(this)">Copy code</button>
                    <span class="copy-message" style="display: none;">Copied!</span>
                    <pre><code class="language-python">git rm -r --cached [ファイル名]</code></pre>
                </div>   




                <li>キャッシュを削除した後、コミットし、プッシュします。</li>
                </ol>
                <p>この手順により、.gitignoreの設定が反映され、リポジトリから特定のファイルが除外されます。ただし、この操作はローカルのファイルを削除するのではなく、単にgitのトラッキングから外すだけなので安心してください。</p>
                <p>以上が.gitignoreの設定が反映されない場合の原因と解決策です。</p>
        </div>
        

        <div class="post-nav">
            <h3>目次</h3>
            <div class="post-nav-content" id="toc">
            </div>
        </div>
    </section>


{%endblock%}