{% extends "blogapp/base.html" %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/post-detail.css' %}" type="text/css"> 
        <style>
            table {
                margin-top:15px;
                border-collapse: collapse;
                width: 100%;
            }
            th, td {
                border: 1px solid black;
                padding: 8px;
                text-align: left;
                
            }
            th {
                background-color: #f2f2f2;
                white-space: nowrap;
            }
        </style>
    </head>

    <section class="post-content">
        <div class="post-explain">
            <div class="post-detail">
                <h1 class="title">{{post.title}}</h2>
                <small>Posted at {{post.posted}}</small>
                <p>{{post.intro}}</p>
                <p>{{post.body}}</p>
                <hr />


                
                <h2 id="tree">
                    treeコマンドとは
                </h2>
                <p>
                    treeコマンドとはファイル構成をtree構造で視覚的に分かりやすく表示してくれるコマンドです．
                </p>

                <h2 id="install">インストール</h2>
                <p>
                    macユーザの方はbrewでtreeコマンドをインストールしてください．
                </p>
                <div class="code-container">
                    <button class="copy-btn" onclick="copyCode(this)">Copy code</button>
                    <span class="copy-message" style="display: none;">Copied!</span>
                    <pre><code class="language-python">
brew install tree
                    </code></pre>
                </div>    


                <h2 id="option">オプション</h2>
                以下の表はtreeコマンドのオプションです．

                <table>
                    <thead>
                        <tr>
                            <th>オプション</th>
                            <th>説明</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>-a</td>
                            <td>隠しファイルも表示します．</td>
                        </tr>
                        <tr>
                            <td>-d</td>
                            <td>ディレクトリのみを表示します．</td>
                        </tr>
                        <tr>
                            <td>-L</td>
                            <td>表示するディレクトリの深さを指定します（例: -L 2 は2レベルの深さまで表示）．</td>
                        </tr>
                        <tr>
                            <td>-P</td>
                            <td>指定したパターンに一致するファイルのみを表示します（例: -P "*.py" はPythonファイルのみを表示）．</td>
                        </tr>
                        <tr>
                            <td>-I</td>
                            <td>指定したパターンに一致するファイルを除外して表示します（例: -I "*.py" はPythonファイルを除外）．</td>
                        </tr>
                        <tr>
                            <td>-f</td>
                            <td>ファイルのフルパスを表示します．</td>
                        </tr>
                        <tr>
                            <td>-i</td>
                            <td>インデントにパイプ文字（|）を使用せず，スペースのみを使用します．</td>
                        </tr>
                        <tr>
                            <td>-C</td>
                            <td>色付けを有効にします（端末が対応している場合）．</td>
                        </tr>
                        <tr>
                            <td>--charset</td>
                            <td>出力に使用する文字セットを指定します（例: --charset ASCII）．</td>
                        </tr>
                        <tr>
                            <td>-Q</td>
                            <td>ファイル名を引用符で囲みます．</td>
                        </tr>
                        <tr>
                            <td>--noreport</td>
                            <td>ディレクトリとファイルの合計を表示しないようにします．</td>
                        </tr>
                        <tr>
                            <td>-r</td>
                            <td>ディレクトリを逆順に表示します．</td>
                        </tr>
                        <tr>
                            <td>-t</td>
                            <td>ファイル/ディレクトリを最終修正時刻でソートして表示します．</td>
                        </tr>
                    </tbody>
                </table>
                
                
                <h2 id="kadai2">
                    使い方
                </h2>
                <div class="code-container">
                    <button class="copy-btn" onclick="copyCode(this)">Copy code</button>
                    <span class="copy-message" style="display: none;">Copied!</span>
                    <pre><code class="language-python">
tree -L 4 -P "*.py|*.html"                     
                    </code></pre>
                </div>    
                

                <ul>
                    <li>-L 4 は，現在のディレクトリから4レベルの深さまでのファイルとディレクトリを表示します．</li>
                    
                    <li>-P "*.py|*.html" は，表示するファイルが.pyまたは.html拡張子を持つものに限定されることを指定します．</li>
                </ul>

                <p>
                    上のコマンドを実行すると以下のようにツリー状にファイル構成が表示されます．
                </p>
                

                <div class="code-container">
                    <button class="copy-btn" onclick="copyCode(this)">Copy code</button>
                    <span class="copy-message" style="display: none;">Copied!</span>
                    <pre><code class="language-python">
        .
        ├── blogapp
        │   ├── __init__.py
        │   ├── __pycache__
        │   ├── admin.py
        │   ├── apps.py
        │   ├── forms.py
        │   ├── management
        │   │   └── commands
        │   │       └── superuser.py
        │   ├── migrations
        │   │   ├── 0001_initial.py
        │   │   ├── 0002_alter_post_posted_commnt.py
        │   │   ├── 0003_rename_commnt_comment.py
        │   │   ├── 0004_alter_post_image.py
        │   │   ├── 0005_alter_post_image_alter_post_posted.py
        │   │   ├── 0006_contact_alter_post_image.py
        │   │   ├── 0007_blog.py
        │   │   ├── __init__.py
        │   │   └── __pycache__
        │   ├── models.py
        │   ├── static
        │   │   ├── css
        │   │   └── js
        │   ├── templates
        │   │   ├── blogapp
        │   │   │   ├── base.html
        │   │   │   ├── edit_post.html
        │   │   │   ├── frontpage.html
        │   │   │   ├── post-01.html
        │   │   │   ├── post-02.html
        │   │   │   ├── post-03.html
        │   │   │   ├── post-04.html
        │   │   │   └── post-05.html
        │   │   └── google
        │   │       └── googled6cb1cfdea5ad30b.html
        │   ├── tests.py
        │   ├── urls.py
        │   └── views.py
        ├── manage.py
        ├── media
        │   └── post_images
        └── microblog
            ├── __init__.py
            ├── __pycache__
            ├── asgi.py
            ├── local_settings.py
            ├── settings.py
            ├── urls.py
            └── wsgi.py
        
        23 directories, 33 files
                    </code></pre>
                </div>    
                
              
        </div>
        

        <div class="post-nav">
            <h3>目次</h3>
            <div class="post-nav-content" id="toc">
            </div>
        </div>
    </section>

    <!--コメントされたものを表示-->
    <!-- <h2 class="class subtitle">コメント</h2>

    {% for comment in post.comments.all %}
    <article class="media">
        <div class="media-content">
            <p>
                <strong>
                    {{comment.name}}
                    <small>{{comment.posted}}</small>
                </strong>
                <br />
                {{comment.body}}
            </p>
        </div>
    <hr>
    </article>
    {% empty %}
    
    <div class="notification">コメントはまだありません．</div>

    {% endfor %} -->




    <!--コメント投稿エリア--> 
    <!-- <h2 class="class subutitle">コメントを追加</h2>
    <form action="." method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="field">
            <div class="control">
                <button class="class button is-danger">送信</button>
            </div>
        </div>
    </form> -->


{%endblock%}